* {
    padding: 5px;
}

h1 {
    font-size: 37px;
    letter-spacing: 8px;
    font-family: Tahoma, Helvetica, sans-serif;
    color: blue;
}

h2 {
    font-size: 32px;
    letter-spacing: 8px;
    font-family: Tahoma, Helvetica, sans-serif;
    color:darkblue;
}